version: '3'
services:
  app:
    container_name: app
    restart: always
    build: ../../../
    volumes:
      - ${HOME}/data/logs:/app/logs
    expose:
      - 8000
    env_file:
      - .env
  db:
    container_name: db
    image: postgres:alpine
    restart: always
    volumes:
      - ${HOME}/data/postgres:/var/lib/postgresql/data
    ports:
      - 5432:5432
    env_file:
      - ../db.env
